In [1]:
import json
import pandas as pd

In [3]:
df = pd.read_excel('DESI.xlsx')
df.head()

   Year       Indicator      Country Country Code  Weighted Score
0  2018  1 Connectivity      Denmark           DK         19.6205
1  2018  1 Connectivity       Sweden           SE         18.9963
2  2018  1 Connectivity      Finland           FI         16.5132
3  2018  1 Connectivity  Netherlands           NL         20.2830
4  2018  1 Connectivity   Luxembourg           LU         20.0132

In [ ]:
def parse_indicator_string(s):
    indicator = {}
    indicator['le']