In [1]:
import json
import pandas as pd

In [34]:
df = pd.read_excel('DESI.xlsx')
df = df.rename(columns={'Year': 'year', 'Indicator': 'indicator', 'Country': 'country', 'Country Code': 'countryCode', 'Weighted Score': 'score'})
df.head()

   year       indicator      country countryCode    score
0  2018  1 Connectivity      Denmark          DK  19.6205
1  2018  1 Connectivity       Sweden          SE  18.9963
2  2018  1 Connectivity      Finland          FI  16.5132
3  2018  1 Connectivity  Netherlands          NL  20.2830
4  2018  1 Connectivity   Luxembourg          LU  20.0132

In [35]:
output_dict = {}
for year in df.year.unique():
    output_dict[str(year)] = df[df.year == year].drop('year', axis=1).to_dict(orient='records')

In [37]:
with open('DESI.json', 'w') as fp:
    json.dump(output_dict, fp)